<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194445312102-bb3itk7u9l3b91mn5qpjt9l2medt3pbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194445312102-bb3itk7u9l3b91mn5qpjt9l2medt3pbs</string>
	<key>API_KEY</key>
	<string>AIzaSyDDXVgFdnbB4XEoHDiZiF_c16xzU7wAtDc</string>
	<key>GCM_SENDER_ID</key>
	<string>194445312102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>egehan-karakose.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-c79bc</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-c79bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194445312102:ios:fa6ca4adc3724986d5eda7</string>
</dict>
</plist>